# meta
.vscode/
__pycache__/

# distro
build/
dist/
*.egg-info/

# data
DATA_ROOT/
xpi_nn_infer/DATA_ROOT/

# weights
MODEL_PATH/*
!MODEL_PATH/README.txt
xpi_nn_infer/MODEL_PATH/*
!xpi_nn_infer/MODEL_PATH/README.txt
